<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/feed.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet">
    <title>My Blog - FEED</title>
</head>
<body>
    <div class="nav">
        <div>
            <h1>My Feed</h1>
            <p><a href="/">HOME</a></p>
        </div>
        <p class="nav-content">
            Find Your Curiosity at One Place.
        </p>  
    </div>

    <div class="topics">
        <a href="/blog/feed">All</a>
        <% if(locals.topics){ %>
            <% topics.forEach(topic => { %>
              <a id="<%=topic.name %>" href="/blog/feed/<%=topic.name %>"><%= topic.name %></a>
            <% }) %>
        <% } %>
    </div>

    <% if(locals.data){ %>
        <% if (data.length === 0) { %>
         <h1>No Blogs Added Yet</h1>
        <% } %>
        <% data.forEach(blog => { %>        
            <div class="feed">
                <div class="feed-content">
                    <img src=<%= blog.coverImageURL%> alt="Feed Image" class="feed-image">
                    <div>
                        <h5 class="user-name"><%= blog.username %></h5>
                        <h2><%= blog.title %></h2>
                        <p><%= blog.content %></p>
                    </div>
                </div>
                <div class="feed-btn">
                    <button id="likeButton" class="like-button"><a href="/blog/like/<%= blog._id %>">❤ Like</a></button>
                </div>
            </div> 
        <% }) %>
    <% }else{ %>
        <h1>No Blogs have been Added</h1>
    <% } %>
    <!-- <div class="feed">
        <div class="feed-content">
            <img src="/uploads/1717138332540-Photo.png" alt="Feed Image" class="feed-image">
            <p>This is some feed content. It describes something interesting.</p>
        </div>
        <div class="feed-btn">
            <button class="like-button">Like</button>
        </div>
    </div> -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const topics = document.querySelectorAll(".topics a");

            // Check localStorage to see if a topic is highlighted
            const highlightedTopicId = localStorage.getItem('highlightedTopic');
            if (highlightedTopicId) {
                const highlightedTopic = document.getElementById(highlightedTopicId);
                if (highlightedTopic) {
                    highlightedTopic.classList.add("highlight");
                }
            }

            topics.forEach(t => {
                t.addEventListener("click", (event) => {
                    // Store the id of the clicked topic in localStorage
                    localStorage.setItem('highlightedTopic', t.id);
                });
            });
        });
    </script>
</body>
</html>